

{% block content %}
<div class="container-fluid" style="text-align: center;color:grey;font-style: 90px;font-family: 'Tajawal', sans-serif;">
    <h1>Psyche!!NO page bruv</h1>

<script>
  (function() {
    var cx = '009422875635707871802:1--ak85poxk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

  </div>
{% endblock %}